REACT_APP_API_URL=http://localhost:5000/
REACT_APP_RealTimeUrl=ws://localhost:8001/ws/
REACT_APP_RealTimeNotificationUrl=ws://localhost:8088/ws/
REACT_APP_GOOGLE_CLIENT_ID=replace-with-google-oauth-client-id
